* {
    box-sizing: border-box;
}

/* 
Color Pallet
#4B4D4C -- dark gray
#B3E6E4 -- sky blue
#C8CCCC -- light gray
#385C5B -- seagreen
#8E9191 -- medium gray
*/


body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Karla', sans-serif;
    background-color: #d3dbdb;
    line-height: 1.5em;
}

h1 {
    font-family: 'Source Serif Pro', serif;
    /* text-shadow: 3px 3px 5px #7eddda; */
    text-shadow: 3px 3px 3px #81a098;
    margin-bottom: 10px;
}

/* Wrapper */
.wrapper {
    min-height: calc(100vh - 170px);
    position: relative;
    margin: 15px 15px 20px 15px;
    
}

/* Flex Properties */
.group {
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex: 1;
    padding: 10px;
}

.js-list-container > .group {
    background-color: #fff;
    flex-direction: column;
}

/* Footer */
footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    padding-bottom: 5px;
    color: #ffffff;
    background-color: #4B4D4C;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
}

#github-logo {
    height: 30px;
    width: 30px;
}

#footer-link {
    text-decoration: none;
    color: #C8CCCC
}

/* Home Page */
.home-header {
    margin-top: 50px;
    text-align: center;
    font-size: 3em;
}

.home-text {
    margin-top: 40px;
    font-size: 1.6em;
    text-align: center;
}

hr {
    margin-top: 30px;;
    height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.search-form-container {
    margin-top: 50px;
    font-size: 1.5em;
    text-align: center;
}

.home-search, .header-input{
    width: 80%;
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 1.1em;
}

button {
	box-shadow: 0px 1px 0px 0px #d3dbdb;
	background-color:#f0f0f0;
	border-radius:6px;
	border:1px solid #718281;
	display:inline-block;
	cursor:pointer;
	color:#333233;
	font-size:20px;
	font-weight:bold;
	padding:10px 24px;
	text-decoration:none;
    margin-top:15px;
}

button:hover {
	background-color:#C8CCCC;
}

button:active {
	position:relative;
	top:1px;
}

.no-results-error {
    text-align: center;
}

/* List Header */
.header-content-container {
    text-align: center;
    margin: 0 auto;
}

.header-content-container h1 {
    font-size: 2.5em;
}

#header-label {
    font-size: 1.3em;
    padding: 5px;
}

.header-input {
    padding: 10px
}

#user-search-result {
    text-align: center;
    margin-bottom: 30px;
}

/* Litst Page */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 5px 10px #4B4D4C;
    margin: 20px 0;
}

.list-info h3 {
    font-size: 1.7em;
    text-decoration: underline;
}

.list-info p {
    font-size: 1.2em;
    font-weight: 700;
}
/* List Detail Overview */
.plot-summary {
    margin: 10;
    font-size: 1.4em;
    text-decoration: underline;
}

.search-summary p{
    padding: 0 10px;
    font-size: 1.2em;
}

.rating {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.metacritic-container p {
    font-size: 1.3em;
}

/* List Stream Details */
.stream-group {
    display: flex;
    flex-wrap: wrap;
}

.stream-item {
    flex: 1 0 100%;
    padding: 10px;
    margin: 10px 15px 10px 0;
    border: solid 2px lightgray;
    border-radius: 5px;
    box-shadow: 3px 3px #929694;
}

.stream-method {
    flex: 1 0 100%
}

.stream-method, .metacritic-title {
    font-size: 1.3em;
    text-align: left;
    text-decoration: underline;
    margin-left: 20px;
    margin-bottom: 30px;
}

.stream-service, .service-link {
    font-size: 1.2em;
}

.service-name {
    font-size: 1.3em;
    font-weight: 800;
    margin-bottom: 20px;
}

.service-link-container {
    margin-top: 30px;
    background-color: #1f3b35;
    border-radius: 5px;
    padding: 10px;
}
.service-link {
    text-decoration: none;
    color: #fff;
    padding: 0;
}

.service-link:hover {
    color: #a2aaaa;
}

.service-link:active {
    color: lightgray;
}

/* list positioning */
.list-info {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

.list-image, .list-info {
    width: 50%;
}

.list-image {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-image img {
    height: 300px;
    width: 175px;
    border: solid 1px black;
}

.detail-button-container {
    width: 100%;
    text-align: center;
    padding: 0;
    margin-bottom: 10px;
}

/* Javascript toggle */
.hidden {
    display: none;
}

/* Media Queries */
@media all and (min-width : 768px) {
    /* Wrapper */
    .wrapper {
        margin: 0 auto;
        width: 80%;
    }
    /* Home Page */
    input[type=text]{
        width: 420px;
        padding: 5px 10px;
        margin-top: 10px;
        font-size: 1.1em;
    }

    .home-search {
        width: 200px;
    }

    /* List Page */
    li {
        margin-bottom: 50px;
    }

    .search-summary p {
        margin-right: 40px;
        margin-left: 40px;
    }

    .stream-item {
        flex: 1 0 45%;
        padding: 10px;
        margin: 10px 5px;
        border: solid 2px lightgray;
        border-radius: 5px;
        box-shadow: 5px 5px #929694;
    }
}
