* {
    box-sizing: border-box;
}

img {
    height: 250px;
    width: 150px;
}

li {
    border: solid black;
}

.group {
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex: 1;
    padding: 10px;
}

.list-image, .list-info {
    width: 50%;
}

.list-image {
    justify-content: center;
    align-items: center;
}

.detail-button-container {
    width: 100%;
    text-align: center;
    padding: 0;
}

.hidden {
    display: none;
}
